In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
# Load CSV file
df = pd.read_csv("StudentPerformanceFactors.csv")

# Display first few rows
print(df.shape)
df.head()
print (df.info())

(6607, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB
None

In [3]:
df.isnull().sum()

Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

In [5]:
df.fillna({
    'Teacher_Quality': df['Teacher_Quality'].mode()[0],
    'Parental_Education_Level': df['Parental_Education_Level'].mode()[0],
    'Distance_from_Home': df['Distance_from_Home'].mode()[0]
}, inplace=True)

In [6]:
df.isnull().sum()

Hours_Studied                 0
Attendance                    0
Parental_Involvement          0
Access_to_Resources           0
Extracurricular_Activities    0
Sleep_Hours                   0
Previous_Scores               0
Motivation_Level              0
Internet_Access               0
Tutoring_Sessions             0
Family_Income                 0
Teacher_Quality               0
School_Type                   0
Peer_Influence                0
Physical_Activity             0
Learning_Disabilities         0
Parental_Education_Level      0
Distance_from_Home            0
Gender                        0
Exam_Score                    0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
cat_cols = df.select_dtypes(include=['object']).columns
print(" Columns to encode:", list(cat_cols))
for col in cat_cols:
    df[col] = le.fit_transform(df[col])
    print(f"  Encoded column: {col}")
print("\n Dataset Info After Encoding:")
print(df.info())
display(df.head())

 Columns to encode: ['Parental_Involvement', 'Access_to_Resources', 'Extracurricular_Activities', 'Motivation_Level', 'Internet_Access', 'Family_Income', 'Teacher_Quality', 'School_Type', 'Peer_Influence', 'Learning_Disabilities', 'Parental_Education_Level', 'Distance_from_Home', 'Gender']
  Encoded column: Parental_Involvement
  Encoded column: Access_to_Resources
  Encoded column: Extracurricular_Activities
  Encoded column: Motivation_Level
  Encoded column: Internet_Access
  Encoded column: Family_Income
  Encoded column: Teacher_Quality
  Encoded column: School_Type
  Encoded column: Peer_Influence
  Encoded column: Learning_Disabilities
  Encoded column: Parental_Education_Level
  Encoded column: Distance_from_Home
  Encoded column: Gender

 Dataset Info After Encoding:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   int64
 3   Access_to_Resources         6607 non-null   int64
 4   Extracurricular_Activities  6607 non-null   int64
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   int64
 8   Internet_Access             6607 non-null   int64
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   int64
 11  Teacher_Quality             6607 non-null   int64
 12  School_Type                 6607 non-null   int64
 13  Peer_Influence              6607 non-null   int64
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   int64
 16  Parental_Education_Level    6607 non-null   int64
 17  Distance_from_Home          6607 non-null   int64
 18  Gender                      6607 non-null   int64
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(20)
memory usage: 1.0 MB
None

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,1,0,0,7,73,1,1,0,1,2,1,2,3,0,1,2,1,67
1,19,64,1,2,0,8,59,1,1,2,2,2,1,0,4,0,0,1,0,61
2,24,98,2,2,1,7,91,2,1,2,2,2,1,1,4,0,2,2,1,74
3,29,89,1,2,1,8,98,2,1,1,2,2,1,0,4,0,1,1,1,71
4,19,92,2,2,1,6,65,2,1,3,2,0,1,1,4,0,0,2,0,70

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaled_df = df.copy()
cols_to_scale = df.columns.drop('Exam_Score')

scaler = MinMaxScaler()
scaled_df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

print(" Scaling complete! All features are now between 0 and 1.")
display(scaled_df.head())

âœ… Scaling complete! All features are now between 0 and 1.

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,0.511628,0.600,0.5,0.0,0.0,0.500000,0.46,0.5,1.0,0.000,0.5,1.0,1.0,1.0,0.500000,0.0,0.5,1.0,1.0,67
1,0.418605,0.100,0.5,1.0,0.0,0.666667,0.18,0.5,1.0,0.250,1.0,1.0,1.0,0.0,0.666667,0.0,0.0,0.5,0.0,61
2,0.534884,0.950,1.0,1.0,1.0,0.500000,0.82,1.0,1.0,0.250,1.0,1.0,1.0,0.5,0.666667,0.0,1.0,1.0,1.0,74
3,0.651163,0.725,0.5,1.0,1.0,0.666667,0.96,1.0,1.0,0.125,1.0,1.0,1.0,0.0,0.666667,0.0,0.5,0.5,1.0,71
4,0.418605,0.800,1.0,1.0,1.0,0.333333,0.30,1.0,1.0,0.375,1.0,0.0,1.0,0.5,0.666667,0.0,0.0,1.0,0.0,70

In [10]:
constant_cols = [col for col in df.columns if df[col].nunique() == 1]
print("âš ï¸ Constant columns (no variation):", constant_cols)
duplicate_cols = df.columns[df.T.duplicated()].tolist()
print("âš ï¸ Duplicate columns:", duplicate_cols)
irrelevant_cols = [col for col in df.columns if 'id' in col.lower() or 'unnamed' in col.lower()]
print("âš ï¸ Possibly irrelevant columns:", irrelevant_cols)
print("\nðŸ”Ž Columns with missing values (if any):")
print(df.isnull().sum()[df.isnull().sum() > 0])
print("\nâœ… Summary:")
print("Total columns:", len(df.columns))
print("Column names:", list(df.columns))

âš ï¸ Constant columns (no variation): []
âš ï¸ Duplicate columns: []
âš ï¸ Possibly irrelevant columns: []

ðŸ”Ž Columns with missing values (if any):
Series([], dtype: int64)

âœ… Summary:
Total columns: 20
Column names: ['Hours_Studied', 'Attendance', 'Parental_Involvement', 'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours', 'Previous_Scores', 'Motivation_Level', 'Internet_Access', 'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type', 'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities', 'Parental_Education_Level', 'Distance_from_Home', 'Gender', 'Exam_Score']

In [12]:
scaled_df.to_csv("student_performance_cleaned.csv", index=False)
print("ðŸ’¾ Final cleaned and scaled dataset saved as student_performance_cleaned.csv")

ðŸ’¾ Final cleaned and scaled dataset saved as student_performance_cleaned.csv

In [13]:
import os
print(os.path.exists("student_performance_cleaned.csv"))  # if you used option 1
# or
print(os.path.exists("data/student_performance_cleaned.csv"))  # if you used option 2

True
False

In [14]:
import pandas as pd

df = pd.read_csv("student_performance_cleaned.csv")

print("âœ… Shape:", df.shape)
print("âœ… Missing values:", df.isnull().sum().sum())
print("âœ… All numeric:", all(df.dtypes != 'object'))

df.head()

âœ… Shape: (6607, 20)
âœ… Missing values: 0
âœ… All numeric: True

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,0.511628,0.600,0.5,0.0,0.0,0.500000,0.46,0.5,1.0,0.000,0.5,1.0,1.0,1.0,0.500000,0.0,0.5,1.0,1.0,67
1,0.418605,0.100,0.5,1.0,0.0,0.666667,0.18,0.5,1.0,0.250,1.0,1.0,1.0,0.0,0.666667,0.0,0.0,0.5,0.0,61
2,0.534884,0.950,1.0,1.0,1.0,0.500000,0.82,1.0,1.0,0.250,1.0,1.0,1.0,0.5,0.666667,0.0,1.0,1.0,1.0,74
3,0.651163,0.725,0.5,1.0,1.0,0.666667,0.96,1.0,1.0,0.125,1.0,1.0,1.0,0.0,0.666667,0.0,0.5,0.5,1.0,71
4,0.418605,0.800,1.0,1.0,1.0,0.333333,0.30,1.0,1.0,0.375,1.0,0.0,1.0,0.5,0.666667,0.0,0.0,1.0,0.0,70